{{#each this}}
  <div class='country'>
    <h1 class='country-name'>{{name}}</h1>
    <div class='info'>
      <ul class='info-list'>
        <li class='info-item'><p class='info-name'>Capital: {{capital}}</p></li>
        <li class='info-item'><p class='info-name'>Population: {{population}}</p></li>
        <li class='info-item'>
          <p class='info-name'>Language:</p>
          <ul class='languages-list'>
            {{#each languages}}
              <li class='language-item'>{{name}}</li>
            {{/each}}
          </ul>
        </li>
      </ul>
      <div class='photo'>
        <img src='{{flag}}' alt='{{name}}' height='400' width='480' />
      </div>
    </div>
  </div>
{{/each}}